.feature-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  height: 490px;
  text-decoration: none;
}
.feature-card--media {
    position: 'absolute',
    top: 0,
    right: 0,
    height: '100%',
    width: '100%',
    backgroundColor: 'rgba(0, 0, 0, 0.575)',
    backgroundBlendMode: 'darken',
}
